@{ 
    MODELS.USER.Dtos.MODELUser User = ViewBag.UserInfo;
}

<style>
    .profile-pic {
        transition: transform 0.2s ease;
        cursor: pointer;
        object-fit: cover;
        height: 40px;
        width: 40px;
        border-radius: 100px;
    }
    #PictureProfile:active {
        filter: brightness(75%);
        transform: scale(0.8);
    }

    hr.solid{
        border: 0;
        border-top: 2px solid;
        color: inherit;
        opacity: .25;
        margin: 1px 0 12px;
    }

    .SettingBtn:hover,
    .ProfilePicture:hover{
        background-color: rgba(0, 0, 0, 0.05);
    }

    .dropdownSettingNotification {
        width: 344px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        right: -10px;
        top: 70px
    }

    .dropdownSettingNotification .setting:hover{
        background-color: #EEEEEE
    }

    .callouts {
        display: inline-block;
        position: relative;
        width: 100%;
        height: fit-content;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #fff;
        border: 1px solid #c1c1c1;
        border-radius: 8px;
        box-shadow: 0 0 10px #c1c1c1;
    }

    /* TOP */
    .callouts--top:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 23px;
        top: -42px;
        border: 10px solid transparent;
        border-bottom: 32px solid rgba(193,193,193,0.5);
        z-index: 2;
    }

    .callouts--top:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 25px;
        top: -32px;
        border: 8px solid transparent;
        border-bottom: 25px solid #fff;
        z-index: 3;
    }
</style>

<script>
    $(document).ready(function () {
        //$("#dropdownSettingNotification").click(function () {
        //    if ($(".dropdownSettingNotification").hasClass("show")) {
        //        $(".dropdownSettingNotification").removeClass("show")
        //    } else {
        //        $(".dropdownSettingNotification").addClass("show")
        //    }
        //});
        $("#dropdownSettingNotification").click(function (e) {
            e.stopPropagation(); // Ngăn chặn sự kiện lan ra ngoài
            if ($(".dropdownSettingNotification").hasClass("invisible")) {
                $(".dropdownSettingNotification").removeClass("invisible");
            } else {
                $(".dropdownSettingNotification").addClass("invisible");
            }
        });

        $(document).click(function (e) {
            // Kiểm tra nếu click vào bên ngoài .dropdownSettingNotification và #dropdownNotificationMenu
            if (
                !$(e.target).closest(".dropdownSettingNotification").length &&
                !$(e.target).closest("#dropdownNotificationMenu").length
            ) {
                $(".dropdownSettingNotification").addClass("invisible");
            }
        });

        $("#dropdownNotificationMenu").click(function (e) {
            e.stopPropagation();
            if (!$(e.target).closest(".dropdownSettingNotification").length &&
                $(e.target).closest("#dropdownNotificationMenu").length) {
                $(".dropdownSettingNotification").addClass("invisible");
            }
        });
    });
</script>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-weight: bold; color: #473c38;">LinkU</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>

            <div class="d-flex align-items-center">
                <div class="dropdown">
                    <div role="button"
                         id="dropdownNotification"
                         data-mdb-dropdown-init
                         data-mdb-ripple-init
                         aria-expanded="false"
                         data-mdb-auto-close="outside">
                        <div class="p-0" style="background-color: rgb(226, 229, 233); border-radius: 100px; height: 40px; width: 40px; position: relative">
                            <i class="fa-solid fa-bell" style="position: absolute; right: 9px; top: 8px; font-size: 24px"></i>
                        </div>
                    </div>
                    <div id="dropdownNotificationMenu" 
                         class="dropdown-menu" 
                         aria-labelledby="dropdownNotification" 
                         style="width: 360px">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="d-flex align-items-center justify-content-between" style="margin: 20px 16px 12px 16px">
                                    <!--Header and Setting-->
                                    <span class="fs-4 fw-bold" style="">Thông báo</span>
                                    <div class="dropdown">
                                        <button type="button"
                                                id="dropdownSettingNotification"
                                                class="btn btn-light p-2" 
                                                style="border-radius: 100px; height: 40px; width: 40px; position: relative" 
                                                data-mdb-ripple-color="dark">
                                            <i class="fa-solid fa-ellipsis" style="font-size: 24px; position: absolute; right: 9px; top: 8px;"></i>
                                        </button>
                                        <div class="dropdownSettingNotification invisible">
                                            <div class="callouts callouts--top">
                                                <div class="row setting py-2 mx-2" role="button" style="border-radius: 4px">
                                                    <div class="col-sm-1">
                                                        <i class="fa-solid fa-check"></i>
                                                    </div>
                                                    <div class="col-sm-11 fw-bold" style="font-size: 14px">
                                                        Đánh dấu tất cả là đã đọc
                                                    </div>
                                                </div>

                                                <div class="row setting py-2 mx-2" role="button" style="border-radius: 4px">
                                                    <div class="col-sm-1">
                                                        <i class="fa-solid fa-gear"></i>
                                                    </div>
                                                    <div class="col-sm-11 fw-bold" style="font-size: 14px">
                                                        Cài đặt thông báo
                                                    </div>
                                                </div>

                                                <div class="row setting py-2 mx-2" role="button" style="border-radius: 4px">
                                                    <div class="col-sm-1">
                                                        <i class="fa-solid fa-display"></i>
                                                    </div>
                                                    <div class="col-sm-11 fw-bold" style="font-size: 14px">
                                                        Mở thông báo
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!--Tất cả và chưa đọc button-->
                                <div>
                                    <ul class="nav nav-pills" id="pills-tab" role="tablist" style="padding-left: 16px">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" 
                                                    id="pills-all-tab" 
                                                    style="font-size: 14px; padding: 12px; text-transform: unset; border-radius: 18px; margin: 0px 8px"
                                                    data-bs-toggle="pill" 
                                                    data-bs-target="#pills-all" 
                                                    type="button" 
                                                    role="tab" 
                                                    aria-controls="pills-all" 
                                                    aria-selected="true">Tất cả</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" 
                                                    id="pills-unread-tab" 
                                                    style="font-size: 14px; padding: 12px; text-transform: unset; border-radius: 18px; margin: 0px 8px"
                                                    data-bs-toggle="pill" 
                                                    data-bs-target="#pills-unread" 
                                                    type="button" 
                                                    role="tab" 
                                                    aria-controls="pills-unread" 
                                                    aria-selected="false">Chưa đọc</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab" tabindex="0">
                                            <div class="d-flex justify-content-between align-items-center" style="padding: 0 16px">
                                                <span>
                                                    Trước đó
                                                </span>
                                                <button type="button" class="btn btn-link" data-mdb-ripple-init data-mdb-ripple-color="dark">Xem tất cà</button>
                                            </div>
                                            <div>
                                                <div style="padding: 0px 8px;">
                                                    <button type="button"
                                                            class="btn btn-link d-flex align-items-center text-black"
                                                            data-mdb-ripple-init
                                                            data-mdb-ripple-color="dark"
                                                            style="padding: 0px 8px; text-transform: none">
                                                        <div style="margin: 6px 12px 6px 0px">
                                                            <img class="rounded-circle position-relative" src="~/asset/Notification/RGB.jpg" />
                                                            <i class="fa-brands fa-square-threads position-absolute rounded-circle" style="font-size: 28px"></i>
                                                        </div>
                                                        <div class="d-flex flex-column align-items-start" style="">
                                                            <span class=""
                                                                  style="font-size: 14px; font-weight: 400; text-align: left; color: rgb(101, 104, 108)">
                                                                <strong>RGB</strong> ơi, một trang cá nhân mà bạn theo dõi vừa đăng trên Threads đấy.
                                                            </span>
                                                            <span style="font-size: 12px; color: rgb(101, 104, 108); font-weight: 400">5 ngày trước</span>
                                                        </div>
                                                    </button>
                                                </div>
                                            </div>
                                            <div style="margin: 16px; padding: 0px 12px; ">
                                                <button type="button" 
                                                        class="btn btn-secondary w-100" 
                                                        style="background-color: rgb(226, 229, 233); text-transform: none; color: rgb(8, 8, 9)" 
                                                        data-mdb-ripple-init>
                                                    <span style="font-size: 14px">
                                                        Xem thông báo trước đó
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-unread" role="tabpanel" aria-labelledby="pills-unread-tab" tabindex="0">...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="dropdownPicture" class="dropdown">
                    <img src="@User.ProfilePicture"
                         id="PictureProfile"
                         class="profile-pic"
                         role="button"
                         data-mdb-dropdown-init
                         data-mdb-ripple-init
                         aria-expanded="false"
                         data-mdb-auto-close="outside" />
                    <div class="dropdown-menu" aria-labelledby="PictureProfile" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 0px; padding: 8px 16px 16px;">
                        <div class="card text-center" style="width: 360px; background-color: #f2f4f7">
                            <div class="card-body p-0">
                                <div class="rounded-6 bg-white" style="padding: 12px; box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 0px">
                                    <div role="button" class="ProfilePicture d-flex align-items-center rounded-5" style="padding: 8px">
                                        <img class="profile-pic p-1"
                                             src="@User.ProfilePicture" />
                                        <span class="p-1 fs-6">@User.HoVaTen</span>
                                    </div>
                                    <hr class="solid" style="width: calc(100% - 16px); justify-self: center">
                                    <button type="button"
                                            class="btn"
                                            style="background-color: rgb(226, 229, 233); width: calc(100% - 16px)"
                                            data-mdb-ripple-init
                                            data-mdb-ripple-color="dark">
                                        <i class="fa-solid fa-people-arrows"></i> Xem tất cả trang cá nhân
                                    </button>
                                </div>
                            </div>

                            <!-- Cài đặt -->
                            <div class="mt-3">
                                <button class="SettingBtn d-flex align-items-center btn btn-light p-2 justify-content-between w-100"
                                        data-mdb-ripple-init
                                        data-mdb-ripple-color="dark"
                                        type="button">
                                    <div class="d-flex align-items-center">
                                        <div class="p-0" style="background-color: rgb(226, 229, 233); border-radius: 100px; height: 40px; width: 40px; position: relative">
                                            <i class="fa-solid fa-gear" style="position: absolute; right: 8px; top: 8px; font-size: 24px"></i>
                                        </div>
                                        <span class="text-start ms-3">Cài đặt và quyền riêng tư</span>
                                    </div>
                                    <i class="fa-solid fa-chevron-right col-sm-1" style="font-size: 16px"></i>
                                </button>
                                <button class="SettingBtn d-flex align-items-center btn btn-light p-2 justify-content-between w-100"
                                        data-mdb-ripple-init
                                        data-mdb-ripple-color="dark"
                                        type="button">
                                    <div class="d-flex align-items-center">
                                        <div class="p-0" style="background-color: rgb(226, 229, 233); border-radius: 100px; height: 40px; width: 40px; position: relative">
                                            <i class="fa-solid fa-circle-question" style="position: absolute; right: 8px; top: 8px; font-size: 24px "></i>
                                        </div>
                                        <span class="text-start ms-3">Trợ giúp và hỗ trợ</span>
                                    </div>
                                    <i class="fa-solid fa-chevron-right col-sm-1" style="font-size: 16px"></i>
                                </button>
                                <button class="SettingBtn d-flex align-items-center btn btn-light p-2 justify-content-between w-100"
                                        data-mdb-ripple-init
                                        data-mdb-ripple-color="dark"
                                        type="button">
                                    <div class="d-flex align-items-center">
                                        <div class="p-0" style="background-color: rgb(226, 229, 233); border-radius: 100px; height: 40px; width: 40px; position: relative">
                                            <i class="fa-solid fa-moon" style="position: absolute; right: 10px; top: 8px; font-size: 24px"></i>
                                        </div>
                                        <span class="text-start ms-3">Màn hình và trợ năng</span>
                                    </div>
                                    <i class="fa-solid fa-chevron-right col-sm-1" style="font-size: 16px"></i>
                                </button>
                                <button class="SettingBtn d-flex align-items-center btn btn-light p-2 justify-content-between w-100"
                                        data-mdb-ripple-init
                                        data-mdb-ripple-color="dark"
                                        type="button">
                                    <div class="d-flex align-items-center">
                                        <div class="p-0" style="background-color: rgb(226, 229, 233); border-radius: 100px; height: 40px; width: 40px; position: relative">
                                            <i class="fa-solid fa-circle-exclamation" style="position: absolute; right: 8px; top: 8px; font-size: 24px"></i>
                                        </div>
                                        <span class="text-start ms-3">Đóng góp ý kiến</span>
                                    </div>
                                </button>
                                <button class="SettingBtn d-flex align-items-center btn btn-light p-2 justify-content-between w-100"
                                        data-mdb-ripple-init
                                        data-mdb-ripple-color="dark"
                                        type="button">
                                    <div class="d-flex align-items-center">
                                        <div class="p-0" style="background-color: rgb(226, 229, 233); border-radius: 100px; height: 40px; width: 40px; position: relative">
                                            <i class="fa-solid fa-right-from-bracket" style="position: absolute; right: 8px; top: 8px; font-size: 24px"></i>
                                        </div>
                                        <span class="text-start ms-3">Đăng xuất</span>
                                    </div>
                                </button>
                            </div>

                            <div class="card-footer text-muted text-start" style="font-size: 12px">
                                <strong>Quyền riêng tư . Điều khoản . Quảng cáo . Lựa chọn quản cáo <i class="fa-solid fa-play"></i> . Cookie .</strong> Xem thêm <strong>.</strong> LinkU <i class="fa-regular fa-copyright"></i> 2024
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
