<script>
    // Xử lý sự kiện MessageList_Search
    $("#MessageList_SearchInput").on('focus', function () {
        if ($("#MessageList_Back").hasClass("d-none")) {
            $("#MessageList_Back").removeClass("d-none");
            $("#MessageList_Body").html('<div id="MessageList_SearchResult"></div>')
        }
    });
</script>
<div class="card text-center flex-grow-1">
    <div class="card-header d-flex justify-content-between align-items-center flex-column border-bottom-0"
         style="padding: 6px 12px">
        <div class="d-flex justify-content-between align-items-center w-100"
             style="">
            <span style="font-size: 1.5rem; font-weight: 700; color: black; line-height: 28px">
                Đoạn chat
            </span>
            <button type="button"
                    class="btn btn-light rounded-circle"
                    data-mdb-ripple-init
                    data-mdb-ripple-color="dark"
                    style="padding: 9px; margin: 6px">
                <i class="fa-regular fa-pen-to-square" style="font-size: 20px; color: black"></i>
            </button>
        </div>
        <div class="d-flex w-100">
            <button id="MessageList_Back"
                    type="button"
                    class="btn btn-light rounded-circle d-none"
                    data-mdb-ripple-init
                    data-mdb-ripple-color="dark"
                    style="margin-right: 4px; padding: 8px 9.25px; line-height: 1; background-color: rgba(0,0,0,0)"
                    onclick="returnMessageListScreen()">
                <i class="fa-solid fa-arrow-left"
                   style="color: black; font-size: 20px"></i>
            </button>
            <div class="d-flex w-100 align-items-center"
                 style="background-color: rgba(134, 142, 153, .1); border-radius: 50px; overflow: hidden">
                <i class="fas fa-search"
                   style="padding: 0 4px 0 14px; line-height: 36px; background-color: rgba(0,0,0,0)"></i>
                <input id="MessageList_SearchInput"
                       class="w-100"
                       type="text"
                       placeholder="Tìm kiếm"
                       autocomplete="off"
                       oninput="searchMessage()">
            </div>
        </div>
    </div>
    
    <div id="MessageList_Body"
         class="card-body"
         style="padding: 6px; height: calc(100vh - 126px); overflow-x: hidden; overflow-y: auto">
        Danh sách tin nhắn
    </div>
</div>