@using MODELS.USER.Requests
@model ChangePasswordRequest

@Html.HiddenFor(model => model.Token)
<div class="card-header"
     style="padding: 18px 16px 18px 18px; line-height: 24px; font-size: 20px; font-weight: 600; color: black">Tìm kiếm tài khoản của bạn</div>
<div class="card-header"
     style="padding: 18px 16px 18px 18px">
    <div style="margin-bottom: 18px; font-size: 17px; line-height: 20px">
        Vui lòng nhập mật khẩu mới của bạn.
    </div>
    <div id="Password-Container" class="form-outline p-1" data-mdb-input-init>
        <input type="password" asp-for="Password" class="form-control" />
        <label class="form-label" for="Password">Mật khẩu</label>
    </div>
    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "align-self: start;" })

    <div id="ConfirmPassword-Container" class="form-outline p-1 mt-3" data-mdb-input-init>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <label class="form-label" for="ConfirmPassword">Xác nhận mật khẩu</label>
    </div>
    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger", @style = "align-self: start;" })
</div>
<div class="card-footer" style="padding: 16px; text-align: end">
    <a href="@Url.Action("Login", "Account")"
       class="btn btn-light"
       data-mdb-ripple-init
       data-mdb-ripple-color="dark">Hủy</a>
    <button type="button"
            onclick="ChangePassword()"
            class="btn btn-primary"
            style="background-color: #473c38; color: white;"
            data-mdb-ripple-init>
        Tiếp tục
    </button>
</div>