@model MODELS.USER.Requests.RegisterRequest
@{ 
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<script>
    // Thêm link vào <head> bằng JavaScript
    const link = document.createElement('link');
    link.rel = 'stylesheet';
    link.href = '/css/DatePicker.css';
    document.head.appendChild(link);
</script>

<div style="width: 432px; justify-self: center">
    <p style="font-size: 52px; font-weight: bold; color: #473c38; justify-self: center">LinkU</p>
    <div class="card">
        <div class="card-header d-flex flex-column align-items-center" 
             style="padding: 10px 16px; color: black">
            <span style="font-size: 25px; line-height: 32px; font-weight: 600;">Tạo tài khoản mới</span>
            <span style="font-size: 15px; line-height: 24px; color: #606770">Nhanh chóng và dễ dàng</span>
        </div>
        <div class="card-body"
             style="padding: 16px">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-outline" data-mdb-input-init>
                        <input type="text" asp-for="HoLot" class="form-control" />
                        <label class="form-label" for="HoLot">Họ lót</label>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-outline" data-mdb-input-init>
                        <input type="text" asp-for="Ten" class="form-control" />
                        <label class="form-label" for="Ten">Tên</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="wrapper">
                        <div class="form-outline" data-mdb-input-init>
                            <input type="text" 
                                   asp-for="DateOfBirth"
                                   autocomplete="off"
                                   class="form-control bg-white"
                                   readonly
                                   value=""
                                   >
                            <label class="form-label" for="DateOfBirth">Ngày sinh</label>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#DateOfBirth").datepicker({
            dateFormat: "dd-mm-yy",
            duration: "fast"
        });

        $("#DateOfBirth").focus(function (e) {
            if ($("#DateOfBirth").val() === "") {
                $("#DateOfBirth").datepicker("setDate", new Date());
                $("#DateOfBirth").addClass("active")
            }
        });
    });
</script>
