@* Thông báo - alert *@
<div id="ThongBao-container" class="toast-container"></div>

<!-- Modal -->
<div class="modal fade"
     id="modal-default"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered"
         id='modalContainer'>
    </div>
</div>

<!-- LightBox -->
<div class="modal fade" id="lightboxModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div id="modal-image"
             class="modal-content align-items-center"
             style="height: 100vh;
                    background-color: unset;
                    box-shadow: none;
                    max-height: calc(100vh - var(--mdb-modal-margin) * 4);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    z-index: 1">
        </div>
        <div id="background-blur" class="position-absolute-center vw-100 vh-100"
             style="background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    filter: blur(8px) brightness(60%)">
        </div>
    </div>

    <div id="modal-option" class="position-absolute" style="z-index: 1; top: 30px; right: 30px">
        <a download href=""
           id="BtnDownload" 
           class="btn btn-dark rounded-circle p-4 position-relative" 
           data-mdb-ripple-init>
            <i class="fa-solid fa-file-arrow-down fs-3 position-absolute-center"></i>
        </a>
        <button type="button" onclick="CloseLightBox()" 
                class="btn btn-dark rounded-circle p-4 position-relative" 
                data-mdb-ripple-init>
            <i class="fa-solid fa-xmark fs-3 position-absolute-center"></i>
        </button>
    </div>
</div>
