<div class="w-100" style="background-color: rgb(245, 245, 245)">
    @* Header *@
    <div class="p-3 bg-white d-flex align-items-center"
         style="max-height: 80px; border-radius: 12px; box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;">
        <img src="~/asset/Add-Friend.png"
             width="30"
             style="margin-right: 10px; color: black" />
        <span class="fw-bold fs-6">Lời mời kết bạn</span>
    </div>

    <div class="py-3" 
         style="overflow-y: auto; 
                height: calc(100% - 60px);
                scrollbar-color: rgba(0, 0, 0, 0.3) rgba(245, 245, 245, 0);">
        @* Lời mời đã nhận *@
        <div id="ReceiveRequest"></div>

        @* Lời mời đã gửi *@
        <div id="SendRequest"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getFriendRequest('False');
        getFriendRequest('True');
    });


    function getFriendRequest(isSend) {
        $.ajax({
            url: '@Url.Action("GetListPaging", "Friend")',
            type: 'GET',
            data: {
                UserId: '@User.Claims.FirstOrDefault(c => c.Type == "UserId").Value',
                IsSend: isSend,
                PageIndex: 1,
                RowPerPage: 999
            },
            success: function (data) {
                if (isSend == 'False') {
                    $('#ReceiveRequest').html(data);
                } else {
                    $('#SendRequest').html(data);
                }
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        });
    }
</script>
