@{
    ViewData["Title"] = "Trang chủ";
    MODELS.USER.Dtos.MODELUser User = ViewBag.UserInfo;
}

<style>
    .text-Functions {
        font-weight: 500;
        color: black;
        font-size: 14px;
        text-transform: none;
        padding: 10px 0;
    }

    .icon-Functions {
        padding: 12px 12px 12px 4px;
        color: black;
        font-size: 20px
    }

    .btn-Functions {
        margin: 2px 0;
        padding: 0px 8px;
        width: 100%;
    }

    .btn-Functions:hover,
    .btn-ProfilePicture:hover{
        background-color: rgba(0,0,0,0.04);
    }

    .btn-Functions.active {
        background-color: rgba(0,0,0,0.06);
        border-radius: 8px;
        pointer-events: none;
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    #Functions-container::-webkit-scrollbar-track:hover {
        -webkit-box-shadow: none;
    }

    /* Handle */
    #Functions-container::-webkit-scrollbar-thumb {
        -webkit-box-shadow: none
    }
</style>

<div class="d-flex"
     style="background-color: rgb(245, 245, 245); height: calc(100vh - 32px)">
    <!-- Chức năng -->
    <div id="Functions" style="width: 20%; max-width: 240px">
        <div style="height: calc(100vh - 110px); overflow: hidden; position: relative;">
            <div style="position: absolute; top: 0; bottom: 0; left: 0; right: -10px; overflow-y: scroll;">
                <button type="button"
                        class="btn btn-link d-flex align-items-center btn-Functions active"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark">
                    <i class="fa-solid fa-comment icon-Functions"
                       style=""></i>
                    <span class="text-Functions">Đoạn chat</span>
                </button>

                <button type="button"
                        class="btn btn-link d-flex align-items-center btn-Functions"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark">
                    <i class="fa-solid fa-comment-dots icon-Functions"></i>
                    <span class="text-Functions">Tin nhắn đang chờ</span>
                </button>

                <button type="button"
                        class="btn btn-link d-flex align-items-center btn-Functions"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark">
                    <i class="fa-solid fa-box-archive icon-Functions"></i>
                    <span class="text-Functions">Tin nhắn lưu trữ</span>
                </button>
            </div>
        </div>
        <!-- Tên và sidenav -->
        <div id="ProfilePicture"
             style="padding-top: 12px; bottom: 12px; width: 20%; max-width: 240px; background-color: rgb(245, 245, 245)"
             class="d-flex align-items-center position-fixed">
            <button type="button"
                    class="btn btn-link btn-ProfilePicture"
                    data-mdb-ripple-init
                    data-mdb-ripple-color="dark"
                    style="padding: 6px; width: 80%; text-align: left">
                <img id="Img-ProfilePicture"
                     class="rounded-circle"
                     src="@User.ProfilePicture" 
                     width="32" height="32"
                     style="margin: 0 6px"/>
                <span id="Name-ProfilePicture"
                      style="text-transform: none; font-size: 14px; font-weight: 500; color: black">@User.Ten</span>
            </button>
            <div id="SideNav"
                 style="width: 20%">
                <button type="button"
                        class="btn btn-light rounded-circle"
                        data-mdb-ripple-init
                        data-mdb-ripple-color="dark"
                        style="padding: 12px"
                        onclick="ThuNhoSideNav()">
                    <img src="~/asset/hide.png"
                         width="20" height="20" />
                </button>
            </div>
        </div>
    </div>

    <!-- Danh sách tin nhắn -->
    <div id="MessageList" style="width: 30%">
        MessageList
    </div>

    <!-- Tin nhắn -->
    <div id="Messages" style="width: 50%">
        Messages
    </div>
</div>


<script>
    $(document).ready(function () {

    });

    // Xử lý sự kiện chuyển button
    const buttons = document.querySelectorAll('.btn-Functions');

    // Thêm sự kiện click cho từng button
    buttons.forEach(button => {
        button.addEventListener('click', () => {
            // Loại bỏ class .active khỏi tất cả các button
            buttons.forEach(btn => btn.classList.remove('active'));

            // Thêm class .active cho button vừa được click
            button.classList.add('active');
        });
    });

    function ThuNhoSideNav() {
        const width = $("#Functions").width()
        // Change Flex dir
        const ProfilePicture = document.querySelector("#ProfilePicture");
        const currentDirection = ProfilePicture.style.flexDirection;
        ProfilePicture.style.flexDirection = (currentDirection === "row" || currentDirection === "") ? "column" : "row";

        if (width == 44) {
            $("#Functions").width(240)
            $("#ProfilePicture").width(240)
            const Functions = document.querySelector("#Functions")
            Functions.style.width = "20%"
            const ProfilePicture = document.querySelector("#ProfilePicture")
            ProfilePicture.style.width = "20%"
            // Show title
            const elements = document.querySelectorAll(".text-Functions");
            elements.forEach(element => {
                element.style.display = "block";
            });
            const NameProfile = document.querySelector("#Name-ProfilePicture")
            NameProfile.style.display = "inline";
            // Add margin
            const ImgProfile = document.querySelector("#Img-ProfilePicture")
            ImgProfile.style.margin = "0 6px";
            // Change Width
            const BtnProfilePicture = document.querySelector(".btn-ProfilePicture")
            BtnProfilePicture.style.width = "80%"
            const SideNav = document.querySelector("#SideNav")
            SideNav.style.width = "20%"
        } else {
            $("#Functions").width(44)
            $("#ProfilePicture").width(44)
            // Hide title
            const elements = document.querySelectorAll(".text-Functions");
            elements.forEach(element => {
                element.style.display = "none";
            });
            const NameProfile = document.querySelector("#Name-ProfilePicture")
            NameProfile.style.display = "none";
            // Remove margin
            const ImgProfile = document.querySelector("#Img-ProfilePicture")
            ImgProfile.style.margin = "0";
            // Change Width
            const BtnProfilePicture = document.querySelector(".btn-ProfilePicture")
            BtnProfilePicture.style.width = "100%"
            const SideNav = document.querySelector("#SideNav")
            SideNav.style.width = "100%"
        }
    }
</script>
