@{
    ViewData["Title"] = "Trang chủ";
}

<div>
    <div id="MessageList"></div>
</div>

<script>
    $(document).ready(function () {
        loadMessageList(1);
    });

    function loadMessageList(index) {
        $.ajax({
            url: "@Url.Action("GetListMessage", "Home")",
            type: "GET",
            data: {
                RowPerPage: 10,
                PageIndex: index
            },
            success: function (data) {
                $("#MessageList").html(data);
            }
        });
    }
</script>
