<style>
    #pills-contact button.btnContact span.material-symbols-outlined{
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    }
</style>

<div style="padding: 6px; width: 100%;">
    <button type="button"
            class="btnContact btn btn-link d-flex align-items-center w-100 p-2"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark">
        <span class="material-symbols-outlined text-black me-2 fs-1">
            person
        </span>
        <span style="color: rgb(5,5,5);
                     font-size: 14px;
                     font-weight: 500;
                     line-height: 20px;
                     text-transform: none;
                     padding: 10px 0;
            ">Danh sách bạn bè</span>
    </button>
    <button type="button"
            class="btnContact btn btn-link d-flex align-items-center w-100 p-2"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark">
        <span class="material-symbols-outlined text-black me-2 fs-1">
            group
        </span>
        <span style="color: rgb(5,5,5);
                 font-size: 14px;
                 font-weight: 500;
                 line-height: 20px;
                 text-transform: none;
                 padding: 10px 0;
        ">Danh sách nhóm</span>
    </button>
    <button type="button"
            class="btnContact btn btn-link d-flex align-items-center w-100 p-2"
            onclick="showFriendRequest()"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark">
        <span class="material-symbols-outlined text-black me-2 fs-1">
            person_add
        </span>
        <span class="color">Lời mời kết bạn</span>
    </button>
    <button type="button"
            class="btnContact btn btn-link d-flex align-items-center w-100 p-2"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark">
        <span class="material-symbols-outlined text-black me-2 fs-1">
            group_add
        </span>
        <span style="color: rgb(5,5,5);
                 font-size: 14px;
                 font-weight: 500;
                 line-height: 20px;
                 text-transform: none;
                 padding: 10px 0;
        ">Lời mời vào nhóm</span>
    </button>
</div>

<script>
    function showFriendRequest() {
        showLoadingElement(true, "Messages")
        $.ajax({
            url: 'friendrequest',
            type: 'GET',
            success: function (data) {
                $('#Messages').html(data);
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        });
        showLoadingElement(false, "Messages")
    }

    function ShowPopupAddFriend(Id, Case) {
        showLoading(true)
        $.ajax({
            url: '@Url.Action("ShowAddFriendPopup", "Friend")',
            type: 'GET',
            data:
            {
                Id: Id,
                Case: Case
            },
            success: function (data) {
                ShowModal(data, "md")
            },
            error: function (xhr, error) {
                ShowThongBaoThatBai(error)
            }
        });
        showLoading(false)
    }
</script>