<div style="padding: 6px; width: 100%">
    <button type="button"
            class="btn btn-link d-flex align-items-center w-100"
            style="padding: 20px 10px"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark">
        <img src="~/asset/Friend.png"
             width="44"
             style="margin-right: 10px; color: black" />
        <span style="color: rgb(5,5,5);
                     font-size: 14px;
                     font-weight: 500;
                     line-height: 20px;
                     text-transform: none;
                     padding: 10px 0;
            ">Danh sách bạn bè</span>
    </button>
    <button type="button"
            class="btn btn-link d-flex align-items-center w-100"
            style="padding: 20px 10px"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark">
        <img src="~/asset/group.png"
             width="44"
             style="margin-right: 10px; color: black" />
        <span style="color: rgb(5,5,5);
                 font-size: 14px;
                 font-weight: 500;
                 line-height: 20px;
                 text-transform: none;
                 padding: 10px 0;
        ">Danh sách nhóm</span>
    </button>
    <button type="button"
            class="btn btn-link d-flex align-items-center w-100"
            onclick="showFriendRequest()"
            style="padding: 20px 10px"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark">
        <img src="~/asset/Add-Friend.png"
             width="44"
             style="margin-right: 10px; color: black" />
        <span style="color: rgb(5,5,5);
                 font-size: 14px;
                 font-weight: 500;
                 line-height: 20px;
                 text-transform: none;
                 padding: 10px 0;
        ">Lời mời kết bạn</span>
    </button>
    <button type="button"
            class="btn btn-link d-flex align-items-center w-100"
            style="padding: 20px 10px"
            data-mdb-ripple-init
            data-mdb-ripple-color="dark">
        <img src="~/asset/Add-Group.png"
             width="44"
             style="margin-right: 10px; color: black" />
        <span style="color: rgb(5,5,5);
                 font-size: 14px;
                 font-weight: 500;
                 line-height: 20px;
                 text-transform: none;
                 padding: 10px 0;
        ">Lời mời vào nhóm</span>
    </button>
</div>

<script>
    function showFriendRequest() {
        $.ajax({
            url: 'friendrequest',
            type: 'GET',
            success: function (data) {
                $('#Messages').html(data);
            }
        });
    }

    function ShowPopupAddFriend(Id, Case) {
        $.ajax({
            url: '@Url.Action("ShowAddFriendPopup", "Friend")',
            type: 'GET',
            data:
            {
                Id: Id,
                Case: Case
            },
            success: function (data) {
                ShowModal(data, "md")
            },
            error: function (xhr, error) {
                showLoading(false)
                ShowThongBaoThatBai(error)
            }
        });
    }
</script>